<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="{{themePath 'css/docs.css'}}" />
    <link rel="icon" href="{{themePath 'images/logo.svg'}}" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{themePath 'images/logo.svg'}}" />

    {{! Sharing }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="{{metadata.twitterHandle}}" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:title" content="{{metadata.title}}" />
    <meta property="og:description" content="{{metadata.description}}" />
    <meta name="twitter:image" content="{{metadata.image}}" />
    <meta property="og:image" content="{{metadata.image}}" />
  </head>
  <body>
    <button id="docs-menu-toggle" type="button" aria-label="Menu">
      <svg width="148" height="148" viewBox="0 0 148 148" xmlns="http://www.w3.org/2000/svg">
        <g stroke="currentColor" stroke-width="18" fill="none" fill-rule="evenodd" stroke-linecap="round">
          <path d="M9.5 125.5h129M9.5 74.5h129M9.5 23.5h129"></path>
        </g>
      </svg>
    </button>

    <aside id="docs-sidebar">
      <header>
        <h1>
          <a href="/"><img src="{{themePath 'images/wordmark.svg'}}" alt="{{title}}" /></a>
        </h1>
      </header>

      <nav>
        {{#>sidebar}}
          To configure the sidebar, create a file called <code>_sidebar.md</code> and add some links!
        {{/sidebar}}
      </nav>
    </aside>

    <main id="docs-content">
      <article>
        {{{content}}}
      </article>
    </main>

    <script>
      const toggle = document.getElementById('docs-menu-toggle'); toggle.addEventListener('click',
      toggle.addEventListener('click', () => document.documentElement.classList.toggle('docs-menu-toggled')));
    </script>
  </body>
</html>
