<html lang="en" {{#unless meta.noSidebar}}class="docs-with-sidebar"{{/unless}}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="{{theme 'css/docs.css'}}" />

    {{!-- Favicons --}}
    {{#use meta.favicon (theme 'images/logo.svg')}}
      <link rel="icon" href="{{this}}" type="image/x-icon" />
      <link rel="apple-touch-icon" sizes="180x180" href="{{this}}" />
    {{/use}}

    {{! Twitter Cards }}
    {{#if meta.twitterCreator}}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:creator" content="{{meta.twitterCreator}}" />
      {{#if meta.image}}
        <meta name="twitter:image" content="{{meta.image}}" />
      {{/if}}
    {{/if}}

    {{! OpenGraph }}
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:title" content="{{meta.title}}" />
    <meta property="og:description" content="{{meta.description}}" />
    {{#if meta.image}}
      <meta property="og:image" content="{{meta.image}}" />
    {{/if}}

    {{!-- If _head.md exists, it will be injected here --}}
    {{#>head}}{{/head}}
  </head>
  <body>
    {{!-- Set the initial theme and menu states early to prevent flashing --}}
    <script>
      const isMenuToggled = sessionStorage.getItem('docs-menu') === 'toggled';
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const theme = sessionStorage.getItem('docs-theme');
      document.documentElement.classList.toggle('docs-menu-toggled', isMenuToggled);
      document.documentElement.classList.toggle('docs-theme-dark', theme === 'dark' || (!theme && prefersDark));
    </script>

    {{#unless meta.noSidebar}}
      <button id="docs-menu-toggle" type="button" aria-label="Menu">
        <svg width="148" height="148" viewBox="0 0 148 148" xmlns="http://www.w3.org/2000/svg">
          <g stroke="currentColor" stroke-width="18" fill="none" fill-rule="evenodd" stroke-linecap="round">
            <path d="M9.5 125.5h129M9.5 74.5h129M9.5 23.5h129"></path>
          </g>
        </svg>
      </button>
    {{/unless}}

    <a id="docs-skip-to-main" class="docs-visually-hidden" href="#main-content" data-smooth-link="no">
      Skip to main content
    </a>

    {{!-- Icon addons container --}}
    <div id="docs-icon-addons">
      {{#>theme-toggle}}
        <button id="docs-theme-toggle" type="button" aria-label="Toggle light and dark theme" title="Press backslash to toggle the theme">
          <svg class="docs-only-light" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
          </svg>
          <svg class="docs-only-dark" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"></path>
          </svg>
        </button>
      {{/theme-toggle}}
    </div>

    {{#unless meta.noSidebar}}
      <aside id="docs-sidebar">
        <header>
          <h1>
            <a href="/" class="docs-only-light">
              <img src="{{theme 'images/wordmark.svg'}}" alt="{{title}}" />
            </a>
            <a href="/" class="docs-only-dark">
              <img src="{{theme 'images/wordmark-dark.svg'}}" alt="{{title}}" />
            </a>
          </h1>
        </header>

        {{!-- Sidebar addons container --}}
        <div id="docs-sidebar-addons"></div>

        <nav>
          {{#>sidebar}}
            To configure the sidebar, create a file called <code>_sidebar.md</code> and add some links!
          {{/sidebar}}
        </nav>
      </aside>
    {{/unless}}

    <main id="docs-content">
      <a id="main-content"></a>
      <article>
        {{{content}}}
      </article>
    </main>

    {{!-- Default theme scripts --}}
    <script type="module" src="{{theme 'js/docs.js'}}"></script>

    {{!-- If _tail.md exists, it will be injected here --}}
    {{#>tail}}{{/tail}}
  </body>
</html>
